[groups]

app = 
  js/lib/jquery/1.7.1/jquery.js 
  js/lib/underscore/1.4.4/underscore.js 
  js/lib/backbone/1.0.0/backbone.js 
  js/lib/mustache/0.5.0-dev/mustache.js 
  js/lib/bootstrap/2.3.2/bootstrap.js 
  js/lib/slickgrid/2.0.1/jquery.event.drag-2.2.js 
  js/lib/slickgrid/2.0.1/slick.core.js 
  js/lib/slickgrid/2.0.1/slick.grid.js 

  js/lib/slickgrid/2.0.1/jquery-ui-1.8.16.custom.min.mingus.js 

  js/lib/slickgrid/2.0.1/slick.grid.min.mingus.js 
  js/lib/slickgrid/2.0.1/plugins/slick.rowselectionmodel.js 
  js/lib/slickgrid/2.0.1/plugins/slick.rowmovemanager.js 

  js/lib/moment/2.0.0/moment.js 

  js/lib/flot/jquery.flot.js 
  js/lib/flot/jquery.flot.time.js 
    
  js/lib/recline/dist/recline.js 
  js/lib/ckan.js/ckan.js 

  js/lib/ace/ace.js 
  js/lib/ace/ext-language_tools.js 
    
  mingus.js 
  mingus.init.js


